<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Products</title>
    <link rel="stylesheet" href="/css/seeAllProducts.css" />
  </head>
  <body>
    <div class="main-container">
      <!-- Logo container -->
      <div class="logo-container">
        <a href="/"><img src="/images/Logo.png" alt="Website Logo" /></a>
      </div>

    <!-- Logout Button -->
    <div class="logout-container">
      <form action="/logout" method="POST">
        <button type="submit" class="button">Logout</button>
      </form>
    </div>  
      <!-- Header -->
      <header>
        <h1>Our Products</h1>
        <p>Check all your products inventory below.</p>
      </header>

      <!-- Filters -->
      <div class="filters">
        <!-- Filter by Category-->
         <div class="filter-option" id="filter1">
            <h2>Filter by Category</h2>
            <form action="/products/findbycategory" method="GET">
                <input type="text" name="pCategory" placeholder="Search" />
                <input type="submit" class="submit-button" value="Search"/>
            </form>
         </div>
        
         <div class="filter-option" id="filter2">
          <!-- Filter by Category-->
          <h2>Filter by Quantity</h2>
          <form action="/products/findbyQuantity" method="GET">
              <input type="text" name="pQuantity" placeholder="Search" />
              <input type="submit" class="submit-button" value="Search"/>
          </form>
         </div>
      </div>

      <!-- Products Grid -->
      <div class="products-grid">
        <% products.forEach(product => { %>
        <div class="product-card">
          <!-- Product Image -->
          <img
            src="<%= product.pImage %>"
            alt="<%= product.pName %>"
            class="product-image"
          />

          <!-- Product Details -->
          <div class="product-info">
            <h2 class="product-name"><%= product.pName %></h2>
            <p class="product-category">Category: <%= product.pCategory %></p>
            <p class="product-stock">Stock: <%= product.pStock %> items</p>
            <p class="product-price">$<%= product.pPrice %></p>
            <p class="product-description"><%= product.pDescription %></p>
          </div>

          <div>
            <a href="/update/<%= product.pId %>" class="update-button">Update</a>
          </div>

          <div>
            <a href="/delete/<%= product.pId %>" class="delete-button">Delete</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
